body {
  background-color: #232323;
  color: white;
  display: flex;
  overflow: hidden;
}

div {
  border: 2px solid red;
}

#popup {
  position: absolute;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: max-content;     /* Keeps popup tight to text size */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#popup span {
  color: black;
  padding: 5px;
  transition: transform 1s ease;
}

#popup span:hover {
  background-color: lightgray;
  transition: transform 1s ease;
  cursor: pointer;
}

.card {
  height: min(90%, 175px);
  width: auto;
  aspect-ratio: 2.5/3.5;
  transition: transform 0.1s ease;
  background-size: 100% 100%; /* Width Height */
  background-repeat: no-repeat;
  margin: 5px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s ease;
}

#playarea {
  width: 80%;
}

#leftmenu {
  width: 20%;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
}


#cardpreview {
  flex-grow: 1;
  background-size: 100% 100%; /* Width Height */
  background-repeat: no-repeat;
  height: 55%;
}

#carddetails {
  height: 45%;
  padding: 10px;
  word-wrap: break-word;     /* Legacy support */
  overflow-wrap: break-word; /* Modern standard: forces long words to break */
  white-space: normal;       /* Ensures text wraps to new lines */
  overflow-y: auto;    /* Adds a scrollbar only if the text is too long */
  max-height: 100%;    /* Keeps it contained within the flex parent */
}

#opponent {
  display:flex;
  height: 20vh;
}

#play {
  height: 57vh;
  position: relative;
  overflow: hidden;
}

#player {
  display:flex;
  height: 20vh;
}

.bin {
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bin, .deck, .ld {
  width: 10%;
}

.hand {
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 70%;
}

#expandview {
  position: absolute;
  overflow-x: auto;
  top: 50%;
  left: 40%;
  height: 300px;
  width: 70%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
